.place__url-heading {
    color: #AAA;
    max-width: 456px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}